# dependencies
node_modules/
.pnp
.pnp.js

# production builds
dist/
build/

# testing
coverage/

# environment variables
.env
.env.*
!.env.example

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# misc
.DS_Store
.vscode/